<div class="centerTitle">
  <h3 class="card-title">Seleccione su transacción</h3>
</div>

<div class="row mt-3">
  <div class="col-sm">
    <button
      type="button"
      class="btn btn-primary btn-sm btn-sm rounded float-left m-2"
      [routerLink]="['/selecttransactionthree']"
    >
      Consultas
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm btn-sm rounded float-right m-2"
    >
      Cambio de clave
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm">
    <button
      type="button"
      class="btn btn-secondary btn-sm rounded float-left m-2"
    >
      Pagos
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm rounded float-right m-2"
    >
      Transferencias
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm">
    <button
      type="button"
      class="btn btn-secondary btn-sm rounded float-left m-2"
    >
      Compras y Recargas Celular
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm rounded float-right m-2"
    >
      Donaciones
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm">
    <button
      type="button"
      class="btn btn-secondary btn-sm rounded float-left m-2"
    >
      Crédito Rotativo
    </button>
  </div>
</div>
