<div class="centerTitle">
  <h3 class="card-title">
    El costo de la transacción es:
  </h3>
  <p class="card-text">
    $ 0
  </p>
  <p class="card-text">¿Desea continuar?</p>
</div>

<div class="row mt-3">
  <div class="col-sm">
    <button
      type="button"
      class="btn btn-primary btn-sm btn-sm rounded float-left m-2"
      [routerLink]="['/countingmoney']"
    >
      SI
    </button>
    <button
      type="button"
      class="btn btn-primary btn-sm btn-sm rounded float-right m-2"
      [routerLink]="['/ending']"
    >
      NO
    </button>
  </div>
</div>
