<div class="centerTitle">
  <h3 class="card-title">Por favor digite su calve y presione "Continuar"</h3>
</div>

<div class="container mt-2 pt-3 text-center">
  <input class="tamano" size="4" maxlength="4" type="password" value="{{ password }}" disabled>
</div>

<div class="container mt-3 pt-3">
  <table class="table table-bordered table-sm">
    <tbody class="text-center">
      <tr class="bg-primary">
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="1"
            (click)="asignarValorPass('1')"
          />
        </td>
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="2"
            (click)="asignarValorPass('2')"
          />
        </td>
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="3"
            (click)="asignarValorPass('3')"
          />
        </td>
      </tr>
      <tr class="bg-primary">
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="4"
            (click)="asignarValorPass('4')"
          />
        </td>
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="5"
            (click)="asignarValorPass('5')"
          />
        </td>
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="6"
            (click)="asignarValorPass('6')"
          />
        </td>
      </tr>
      <tr class="bg-primary">
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="7"
            (click)="asignarValorPass('7')"
          />
        </td>
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="8"
            (click)="asignarValorPass('8')"
          />
        </td>
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="9"
            (click)="asignarValorPass('9')"
          />
        </td>
      </tr>
      <tr class="bg-primary">
        <td>
          <input class="btn btn-primary btn-block" type="button" value="*" />
        </td>
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="0"
            (click)="asignarValorPass('0')"
          />
        </td>
        <td>
          <input
            class="btn btn-primary btn-block"
            type="button"
            value="000"
            (click)="asignarValorPass('000')"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row mt-2">
  <div class="col-sm">
    <button
      type="button"
      class="btn btn-danger btn-sm btn-sm rounded float-right m-1"
      [routerLink]="['/ending']"
    >
      Cancelar
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <button
      type="button"
      class="btn btn-primary btn-sm btn-sm rounded float-right m-1"
      (click)="continueOperationCost()"
    >
      Continuar
    </button>
  </div>
</div>
